mat-toolbar {
  margin: 0px 0px 50px 0px;
  color: white;
}

button {
    margin: 0px 5px;
}

mat-divider {
  margin: 25px;
}

mat-card {
  margin: 25px 25px 30px 25px;
  background-color: #f5f5f5;
  border: 1px solid #A3A3A3;
}

.list-item {
  margin: 15px;
}

.list_word {
  margin: 5px;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
}

.list_trans {
  margin: 5px;
  flex-direction: row;
  vertical-align: middle;
  justify-content: center;
}

.list_icon {
  margin: 0px 10px 0px 20px;
  vertical-align: middle;
  justify-content: center;
}

.autocomplete-form {
  margin: 15px;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.language-form {
  margin: 10px;
  min-width: 150px;
  max-width: 300px;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.list_column {
  display: flex;
  flex-direction: row;
  position: relative;
  width: 100%;
  color: white;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.img {
  vertical-align: middle;
  justify-content: center;
  margin-right: 8px;
}

.spacer {
  flex: 1 1 auto;
}

.header_toolbar {
  margin: 0px 0px 50px 0px;
}

.bottom_toolbar {
  // position:fixed;
  display: flex;
  justify-content: space-around;
  bottom: 0;
  margin: 50px 0px 0px 0px;
}

.green {
  background-color: #0A0;
}

